* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

#auto-player {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
    opacity: 13;
}

.container-button {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background: linear-gradient(to right, rgba(238, 241, 234, 0.959), rgba(255, 255, 255, 0));
    border: none;
    border-radius: 5px;
    color: black;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.3s;
    /* Transição suave para opacidade */
}

button:hover {
    opacity: 0.8;
}

button:active {
    background: linear-gradient(to right, rgb(206, 14, 14), rgba(255, 255, 255, 0));
}

ul {
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    /* Usar frações para melhor responsividade */
    gap: 20px;
    padding: 20px;
}



li {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(to right, rgba(238, 241, 234, 0.959), rgba(255, 255, 255, 0));
}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: black;
    margin-top: 5px;
}

.snacks {
    display: none;
}

.item-price {
    font-weight: bold;
    color: rgb(21, 32, 21);
}